<a href="https://colab.research.google.com/github/Varray-1212/aiandml/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
a=input("enter the character")
c=0
c1=0
c2=0
for i in a:
  if i.isalpha():
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
      c=c+1
    else:
     c1=c1+1
  else :
    c2=c2+1
print(c)
print(c1)
print(c2)

enter the charactervarun@#
2
3
2

In [0]:
a=input("enter the v")
c=0
p=0
for i in a:
  if i=='a' and c==0:
    c=1
  elif i=='a' and c==1:
    c=0
    p=p+1
  else:
    c=0
print(p)

enter the vabaaabcaa
2

In [0]:
a=input("enter the a")
c=0
for i in a:
  if(i=='('):
    c=c+1
print(c)

enter the a((((()()()))))()
8

In [0]:
a=int(input("enter the range"))
b=int(input("enterb the r"))
c=0
for i in range (a,b+1):
  b=str(i)
  if b==b[::-1]:
    c=c+1
print(c)

enter the range1
enterb the r100
18

In [0]:
a=(input("enter the value"))
if a==a[::-1]:
  print("the pallindrome no is",a)
else:
  b=a[::-1]
  c=int(a)
  d=int(b)
  e=c+d
  print(e)

enter the value145
686

In [4]:
s=input("enter the value")
c=str()
for i in s:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    c=c+chr(ord(i)+1)
  else:
    t=ord(i)
    while chr(t) not in 'aeiou':
      t=t+1
    c=c+chr(t)
print(c)

enter the valueorange
puboif

In [6]:
a=input("enter the str")
sum=0
for i in a:
  if (i.isdigit()):
    sum=sum+int(i)
print("sum",sum)

enter the strappli123cation456
sum 21

In [7]:
f=float(input("enter the value"))
if f>1.0 or f<0.0:
  print("error")
elif f>=0.9:
  print('A')
elif f>=0.8:
  print('B')
elif f>=0.7:
  print('C')
elif f>=0.6:
  print('D')
else:
  print('F')

enter the value0.75
C

In [13]:
for i in range(1,51):
  if i%3==0 and i%5==0:
    print('FlizzBuzz\n',i)
  elif i%3==0:
    print('Flizz\n',i)
  elif i%5==0:
    print('buzz\n',i)

Flizz
 3
buzz
 5
Flizz
 6
Flizz
 9
buzz
 10
Flizz
 12
FlizzBuzz
 15
Flizz
 18
buzz
 20
Flizz
 21
Flizz
 24
buzz
 25
Flizz
 27
FlizzBuzz
 30
Flizz
 33
buzz
 35
Flizz
 36
Flizz
 39
buzz
 40
Flizz
 42
FlizzBuzz
 45
Flizz
 48
buzz
 50

In [14]:
a=input("enter the 1st no")
b=input("enter the 2nd no")
c=input("enter the 3rd no")
if a>b:
  if a<c:
    median=a
  elif b>c:
    median=b
  else:
    median=c
else:
  if a>c:
    median=a
  elif b<c:
    median=b
  else:
    median=c
print("the median is ",median)

enter the 1st no26
enter the 2nd no15
enter the 3rd no29
the median is  26